@section TopPane{
    <img src="~/images/fishing-derby.jpg" alt="2014 Fishing Derby Winners" class="img-fluid img-fluid" id="fishingDerby" style="max-height: 1000px"/>
}
@section TopLeft{
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align: center">
            <h3>Large, Full Hook-up Sites</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group" style="text-align: center">
                <li class="list-group-item" style="text-align: center">30 large grassy and/or wooded sites with water, sewage and 30-amp electric on all sites</li>
                <li class="list-group-item" style="text-align: center">Tent camp sites with water, electric and fireplace</li>
                <li class="list-group-item" style="text-align: center">Seasonal and nightly rentals available</li>
            </ul>
        </div>
    </div>
}

@section TopCenter {
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align: center">
            <h3>Also Available</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group" style="text-align: center">
                <li class="list-group-item" style="text-align: center">Firewood available on-site </li>
                <li class="list-group-item" style="text-align: center">Bath house with hot showers</li>
                <li class="list-group-item" style="text-align: center">General store in close walking distance</li>
                <li class="list-group-item" style="text-align: center">@Html.ActionLink("Weekly activities (click here)", "Activities", "Home")</li>
                <li class="list-group-item" style="text-align: center">@Html.ActionLink("RV rental (click here)", "RV", "Home")</li>
                <li class="list-group-item" style="text-align: center">Dump station</li>
            </ul>
        </div>
    </div>
}

@section TopRight {
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align: center">
            <h3>For Fun</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" style="text-align: center">Playground with swing set</li>
                <li class="list-group-item" style="text-align: center">Active games like horseshoes, volleyball, badminton, and basketball</li>
                <li class="list-group-item" style="text-align: center">Swimming at a private, clean and sandy beach at the campground</li>
                <li class="list-group-item" style="text-align: center">Rec hall/garage with picnic tables stocked with board games for those rainy days!</li>
                <li class="list-group-item" style="text-align: center">Fishing and boating from private on-site boat docks on a beach separate from swimming area</li>
            </ul>
        </div>
    </div>
}