@section TopPane {
    <br />
    <br />
    <div class="col-xs-12 lead" style="text-align: center;">
        Welcome to picturesque Poland, Maine! <br> Find out for yourself why Mainers call it "Vacationland", and it's the place New Englanders camp for the summers!
    </div>
}

@section AltUi
{
    <div class="col-xs-12">
    <div class="carousel slide carousel-fade" id="titleCarousel" 
         data-interval="5000" 
         data-pause="hover"
         data-touch="true"
         data-ride="carousel">
            <ol class="carousel-indicators">
                @{
                    var n = ViewBag.ImageList.Count;
                }
                @for (var x = 0; x < n; x++)
                {
                    
                    if (x == 0)
                    {
                        <li data-target="#titleCarousel" data-slide-to="{x}" class="active"></li>                        
                    }
                    else
                    {
                        <li data-target="#titleCarousel" data-slide-to="{x}"></li>
                    }
                }
            </ol>
            <div class="carousel-inner"></div>
            <a href="" class="carousel-control-prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a href="" class="carousel-control-next">
                <span class="carousel-control-next-icon"></span>
                <span class="sr-only">Next</span>
            </a>
    </div> 
        </div>
}

@section MidLeft {
    <h2>Family Owned</h2>
    <p>
        Mac's Camping Area has been owned and run by the McDonald family for over 40 years and prides itself in being small enough to focus on customer service and events tailored to our campers' wants and needs. Mac's is lucky to have customers who have
        been camping here for multiple generations and continue to come back year after year!
    </p>
    <br /><br />
}
@section MidCenter {
    <h2>Location</h2>
    <p>
        Located on beautiful Tripp Lake, Mac's Camping Area offers an affordable campground with fun for everyone! Whether it is exciting activities, swimming in the lake, fishing on the docks or just simply relaxing, Mac's has something to offer everyone
        at any age!
    </p>
    <br />
    <br />
    <p>
        <a class="btn btn-default" asp-action="Amenities">See Amenities »</a>
    </p>
}
@section MidRight {
    <h2>Activities</h2>
    <p>
        A variety of activities are scheduled most weekends with fun for all ages -- kids and adults alike. Get involved in the planning process, or simply take part.
        <br />
        <br />
        <br /> We know how to have fun!
    </p>
    <br />
    <p>
        <a asp-action="Activities" class="btn btn-default">See Activities »</a>
    </p>
}

@section scripts
{
    <script src="js/Index.js"></script>
}
