@section TopPane {
    <span itemtype="http://schema.org/LodgingBusiness" itemscope>
        <meta itemprop="founder" content="George 'Mac' McDonald"/>
        <meta itemprop="foundingLocation" content="Poland, ME"/>
        <meta itemprop="currenciesAccepted" content="USD"/>
        <meta itemprop="paymentAccepted" content="cash, credit card"/>
        <meta itemprop="legalName" content="Mac's Camping Area, LLC"/>
        <span itemprop="description" class="hidden">Mac's Camping Area has been serving DownEast Maine campers for over 40 years. We specialize in having a small, close-knit community of recurring campers. Some of whom have been with us for multiple generations. We have also have a wedding tent and a rec hall available for event rentals!</span>
        <meta name="keywords" content="camping maine downeast event rentals Poland maine camping fishing sailing go to camp ** www.macscampingarea.com">
        <meta name="keywords" content="+camping +maine +downeast +event +rentals +Poland +maine +camping +fishing +sailing +go +to +camp ** www.macscampingarea.com">
    </span>
    <div class="fb-like"
         data-share="true"
         data-width="450"
         data-show-faces="true">
    </div>
    <div class="row">
        <div class="lead" style="text-align: center;">
            Welcome to picturesque Poland, Maine! <br> Find out for yourself why Mainers call it "Vacationland", and it's the place New Englanders camp for the summers!
        </div>
    </div>
    <div class="carousel slide" id="titleCarousel" data-ride="carousel">
        @{
            var i = 0;
        }
        <div class="carousel-inner" id="titleInner">
            @foreach (var image in ViewBag.ImageList)
            {
                if (i == 0)
                {
                    <div class="carousel-item active">
                        <img src="@Url.Content("~/images/titleslide/" + image)" alt="Picture of Mac's Camping Area" class="img-responsive d-block img-fluid"/>
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <img src="@Url.Content("~/images/titleslide/" + image)" alt="Picture of Mac's Camping Area" class="img-responsive d-block img-fluid"/>
                    </div>
                }
                i++;
            }
        </div>
        <ul class="carousel-indicators">
            @for (var n = 0; n < i; n++)
            {
                if (n == 0)
                {
                    <li data-target="#titleCarousel" data-slide-to="@n" class="active"></li>
                    continue;
                }
                <li data-target="#titleCarousel" data-slide-to="@n"></li>
            }
        </ul>
            <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#titleCarousel" data-slide="prev" id="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#titleCarousel" data-slide="next" id="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
        <div id="carousel-dots">
        </div>
    </div>

}

@section TopLeft {
    <h2>Family Owned</h2>
    <p>
        Mac's Camping Area has been owned and run by the McDonald family for over 40 years and prides itself in being small enough to focus on customer service and events tailored to our campers' wants and needs. Mac's is lucky to have customers who have
        been camping here for multiple generations and continue to come back year after year!
    </p>
    <br /><br />
}
@section TopCenter {
    <h2>Location</h2>
    <p>
        Located on beautiful Tripp Lake, Mac's Camping Area offers an affordable campground with fun for everyone! Whether it is exciting activities, swimming in the lake, fishing on the docks or just simply relaxing, Mac's has something to offer everyone
        at any age!
    </p>
    <br />
    <br />
    <p>
        <a class="btn btn-default" asp-action="Amenities">See Amenities »</a>
    </p>
}
@section TopRight {
    <h2>Activities</h2>
    <p>
        A variety of activities are scheduled most weekends with fun for all ages -- kids and adults alike. Get involved in the planning process, or simply take part.
        <br />
        <br />
        <br /> We know how to have fun!
    </p>
    <br />
    <p>
        <a asp-action="Activities" class="btn btn-default">See Activities »</a>
    </p>
}
@section scripts{
    <script src="~/js/Index.js"></script>
}