@section TopPane{
    <div class="row">
        <div class="col-lg-4 col-md-4" style="width:33%;height:300px;">
            <img src="/images/activityslide/1314.jpg" alt="" class="img-responsive">
        </div>
        <div class="col-lg-4 col-md-4">
            <ul class="list-group" style="text-align: center; width:100%;list-style-type: none;">
                <li class="">All rates are based on a family of two adults and two children under 18 </li>
                <li class="">Open mid-May to Columbus Day</li>
                <meta itemtype="http://schema.org/LocalBusiness" itemscope itemprop="openingHours" datetime="Mo-Su 09:00-20:00"/>
                <li class="">Departure time is noon</li>
                <li class="">Tax included</li>
            </ul>
            <div class="">
                <div class="">
                    <h3 class="" style="text-align: center;">Regular Site (RV)</h3>
                </div>
                <div class="" style="text-align:center;">
                    <em>Water &amp; sewer included; electric pay-per-use</em><br />
                    <span itemtype="http://schema.org/LocalBusiness" itemscope itemprop="priceRange">
                        <ul class="list-inline" style="text-align: center">
                            <li class="list-group-item">Full Season - $1900</li>
                            <li class="list-group-item">Monthly - $600</li>
                            <li class="list-group-item">Nightly - $30</li>
                        </ul>
                        <meta itemprop="paymentAccepted" content="cash, credit card" />
                    </span>
                </div>
                <div class="">
                    <div class="">
                        <h3 class="" style="text-align: center;">Tent Site</h3>
                    </div>
                    <div class="" style="text-align:center;">
                        <em>Water &amp; electric included</em>
                        <br />
                        <ul class="list-inline" style="text-align: center">
                            <li class="">$27 per night</li>
                        </ul>
                    </div>
                </div>

                <br />
                <br />
            </div>
        </div>
        <div class="col-lg-4 col-md-4" style="width:33%;height:300px;">
            <img src="/images/activityslide/1349.jpg" alt="" class="img-responsive">
        </div>
    </div>
}
@section TopLeft{
    <br />
    <br />
    <div class="">
        <div class="">
            <h3 class="" style="text-align: center">Boat Dock Rates</h3>
        </div>
        <div class="">
            <p style="text-align: center;"><em>Price per boat</em></p>
            <ul class="list-group" style="text-align: center; width:100%;list-style-type: none;">
                <li class="">Full Season $100</li>
                <li class="">Week $50</li>
                <li class="">Weekend $25</li>
            </ul>
        </div>
        <br />
        <br />
    </div>
}
@section TopCenter{

    <div class="">
        <div class="">
            <h3 class="" style="text-align: center;">Visitor Rates</h3>
        </div>
        <div class="">
            <h4 style="text-align: center">
                Day Visitor
            </h4>
            <ul class="list-inline" style="text-align:center;">
                <li class="">adult $5</li>
                <li class="">child $4</li>
            </ul>
            <h4 style="text-align: center">
                Overnight Visitor
            </h4>
            <ul class="list-inline" style="text-align:center;">
                <li class="">adult $6</li>
                <li class="">child $5</li>
            </ul>
            <h4 style="text-align: center">
                Day and Overnight Visitor
            </h4>
            <ul class="list-inline" style="text-align:center;">
                <li class="">adult $11</li>
                <li class="">child $9</li>
            </ul>
        </div>
    </div>
} 
@section TopRight{
    <br />
    <br />
    <div class="">
        <div class="" style="text-align: center;">
            <h3 class="">RV Rental</h3>
        </div>
        <div style="text-align:center;">
            <p style="text-align:center;">
                <em>Includes site, RV camper, water, &amp; sewer</em>
            </p>
        </div>

        <div class="" style="text-align:center;">
            <ul class="list-group" style="text-align: center; width:100%;list-style-type: none;">
                <li class="">Weekday (Sun-Thur) - $70/night</li>
                <li class="">Fri & Sat night (2 night minimum) - $160</li>
                <li class="">Mon-Sat (6 nights, $20 savings) - $420</li>
            </ul>
            <p style="text-align:center;">
                <br />
            </p>
        </div>
    </div>
}
