@section TopPane{
    <div class="row">
        <div class="col-md-4">
            <img src="/images/activityslide/1314.JPG" alt="" class="img-fluid">
        </div>
        <div class="col-md-4">
            <span>
                <script language="javascript">
                    (function(){
                        var today = new Date();
                        if (today.getMonth() <= 2 && today.getDay() >= 15)
                            document.write("<h3 style='color:yellow'>RATES SUBJECT TO CHANGE, THEY ARE CURRENTLY UNDER REVIEW FOR THIS SEASON!!</h3>");
                    })();
                </script>
            </span>
            <ul class="list-group" style="text-align: center; width: 100%; list-style-type: none;">
                <li class="">All rates are based on a family of two adults and two children under 18 </li>
                <li class="">Open mid-May to Columbus Day</li>
                <meta itemtype="http://schema.org/LocalBusiness" itemscope itemprop="openingHours" datetime="Mo-Su 09:00-20:00"/>
                <li class="">Departure time is noon</li>
                <li class="">Tax included</li>
            </ul>
            <div class="">
                <div class="">
                    <h3 class="" style="text-align: center;">Regular Site (RV)</h3>
                </div>
                <div class="" style="text-align: center;">
                    <em>Water &amp; sewer included; electric pay-per-use</em><br/>
                    <span itemtype="http://schema.org/LocalBusiness" itemscope itemprop="priceRange">
                        <ul class="list-inline" style="text-align: center">
                            <li class="list-group-item">Full Season - $2150</li>
                            <li class="list-group-item">Monthly - $800</li>
                            <li class="list-group-item">Nightly - $35 (electricity included)</li>
                        </ul>
                        <meta itemprop="paymentAccepted" content="cash, credit card"/>
                    </span>
                </div>
                <div class="">
                    <div class="">
                        <h3 class="" style="text-align: center;">Tent Site</h3>
                    </div>
                    <div class="" style="text-align: center;">
                        <em>Water &amp; electric included</em>
                        <br/>
                        <ul class="list-inline" style="text-align: center">
                            <li class="">$30 per night</li>
                        </ul>
                    </div>
                </div>

                <br/>
                <br/>
            </div>
        </div>
        <div class="col-md-4">
            <img src="/images/activityslide/1349.JPG" alt="" class="img-fluid">
        </div>
    </div>
}
@section TopLeft{
    <br />
    <br />
    <div class="">
        <div class="">
            <h3 class="" style="text-align: center">Boat Dock Rates</h3>
        </div>
        <div class="">
            <p style="text-align: center;"><em>Price per boat</em></p>
            <ul class="list-group" style="text-align: center; width:100%;list-style-type: none;">
                <li class="">Full Season $125</li>
                <li class="">Week $75</li>
                <li class="">Weekend $50</li>
            </ul>
        </div>
        <br />
        <br />
    </div>
}
@section TopCenter{

    <div class="">
        <div class="">
            <h3 class="" style="text-align: center;">Visitor Rates</h3>
        </div>
        <div class="">
            <h4 style="text-align: center">
                Day Visitor
            </h4>
            <ul class="list-inline" style="text-align:center;">
                <li class="">adult $5</li>
                <li class="">child $4</li>
            </ul>
            <h4 style="text-align: center">
                Overnight Visitor
            </h4>
            <ul class="list-inline" style="text-align:center;">
                <li class="">adult $7</li>
                <li class="">child $6</li>
            </ul>
            <h4 style="text-align: center">
                Day and Overnight Visitor
            </h4>
            <ul class="list-inline" style="text-align:center;">
                <li class="">adult $12</li>
                <li class="">child $10</li>
            </ul>
        </div>
    </div>
} 
@section TopRight{
    <br />
    <br />
    <div class="">
        <div class="" style="text-align: center;">
            <h3 class="">RV Rental</h3>
        </div>
        <div style="text-align:center;">
            <p style="text-align:center;">
                <em>Includes site, RV camper, water, &amp; sewer</em><br />
                <b>two night minimum!</b>
            </p>
            <h4><span><i class="fas fa-paw"></i></span>Pet Friendly!<span><i class="fas fa-paw"></i></span></h4>
            <p>Additional $100 security deposit, refunded when found damage free</p>
        </div>

        <div class="" style="text-align:center;">
            <ul class="list-group" style="text-align: center; width:100%;list-style-type: none;">
                <li class="">Weekday (Sun-Thur) - $80/night</li>
                <li class="">Fri & Sat night (2 night minimum) - $180</li>
            </ul>
            <p style="text-align:center;">
                <br />
            </p>
        </div>
    </div>
}
